.navbar {
  /* padding: 10px 20px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar-menu a,
.navbar-menu .active {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar-menu a:hover {
  background-color: #ff5722;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-profile img {
  width: 30px;
  cursor: pointer;
}

.navbar-profile:hover .nav-profile-dropdown {
  display: block;
}

.nav-profile-dropdown {
  position: absolute;
  background: #fff;
  color: #333;
  top: 50px;
  right: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: none;
}

.nav-profile-dropdown li {
  margin: 5px 0;
  cursor: pointer;
}

.nav-profile-dropdown li:hover {
  color: #ff5722;
}

.auth-button {
  background: white;
  color: #ff7043;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.auth-button:hover {
  background: #ff5722;
  color: white;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  display: none;
  cursor: pointer;
}

.navbar-menu.open {
  flex-direction: column;
  background: #ff7043;
  position: absolute;
  top: 100px;
  right: 10px;
  border-radius: 8px;
  padding: 10px 20px;
  display: none;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .navbar-menu.open {
    display: flex;
  }
}
