.footer {
  color: #d9d9d9;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px 8vw;
  padding-top: 80px;
  margin-top: 50px;
}

.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.footer-left .logo {
  height: 65%;
  width: 22%;
}

.footer-left,
.footer-center,
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.footer-left li,
.footer-center li,
.footer-right li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-left h2,
.footer-center h2,
.footer-right h2 {
  color: #fff;
}

.footer-social-icons img {
  width: 40px;
  margin-right: 15px;
}

.footer hr {
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background-color: grey;
  border: none;
}

@media (max-width: 750px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .copyright {
    text-align: center;
  }
}
