.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.explore-menu h1 {


  color: #eee;
  font-weight: 600;
  text-align: center;
  margin-top: 25px;
  font-size: 2.5rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.explore-menu .explore-menu-text {
  max-width: 80%;
  color: #808080;
  text-align: center;
  margin-left: auto;
  margin-right: auto;


  font-size: 1.1rem;
  margin-bottom: 20px;

}

.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0;
  overflow-x: auto;
  padding-bottom: 10px;
}

.explore-menu-list::-webkit-scrollbar {
  display: none;
}

.explore-menu-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.explore-menu-list-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.explore-menu-list-item img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;


  transition: 0.3s;

}

.explore-menu-list-item p {
  margin-top: 10px;
  color: #747474;
  font-size: max(1.4vw, 16px);
  cursor: pointer;
}

.explore-menu hr {
  margin: 10px 0;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}

.explore-menu-list-item .active {
  border: 4px solid tomato;
  padding: 2px;
  animation: pulse 0.6s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media (max-width: 1050px) {
  .explore-menu-list {
    gap: 20px;
  }
}

@media (max-width: 750px) {
  .explore-menu-list {
    gap: 15px;
  }
}
